.main-section {
    height: 800px;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    text-align: center;
}
.para {
    font-size: 20px;
    position: relative;
    text-align: left;
}
.list {
    font-size: 20px;
    position: relative;
    text-align: left;
}
